/nbproject/
/common/lib/vendor/
/common/lib/Yiinitializr/config/env.lock

/common/config/env.php
/common/config/local.php

/backend/www/assets/

/backend/config/env.php
/backend/config/local.php

/frontend/www/assets/

/frontend/config/env.php
/frontend/config/local.php
/console/config/env.php

/console/runtime/
/backend/runtime/
/frontend/runtime/

/frontend/www/uploads/photos/*
!/frontend/www/uploads/photos/unknown_user.png
*~
