/nbproject/
/common/lib/vendor/
/common/lib/Yiinitializr/config/env.lock

/common/config/env.php
/common/config/local.php
/common/config/local-test.php

/backend/www/assets/

/backend/config/env.php
/backend/config/local.php
/backend/config/local-test.php

/frontend/www/assets/

/frontend/config/env.php
/frontend/config/local.php

/console/config/env.php

/console/runtime/
/backend/runtime/
/frontend/runtime/

/frontend/www/uploads/photos/*
!/frontend/www/uploads/photos/unknown_user.png
/frontend/www/uploads/elections/*
/frontend/www/uploads/person_identifiers/*
*~

/common/ui/ext/build/temp/
/common/ui/ext/build/.sass-cache/
