.pagination {
    margin-top: 0px;
    border-left: 1px solid #ddd;
}

small.hint-permission {
    display: none;
}

.photo-edit-panel .left-col .buttons, .photo-edit-panel .left-col .marks {
    margin-top: 5px;
}

.photo-edit-panel .left-col {
    width: 165px;
}