.pagination {
    margin-top: 0px;
    border-left: 1px solid #ddd;
}

small.hint-permission {
    display: none;
}

.gitem-edit-panel .left-col .buttons, .gitem-edit-panel .left-col .marks {
    margin-top: 5px;
}

.gitem-edit-panel .left-col {
    width: 165px;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h3 .nav.nav-pills {
    margin-bottom: 0px;
}