.without-border {
    border: none;
    box-shadow: none;
}

ul.gallery li.first-in-row {
    margin-left: 0px !important;
}

ul.gallery.thumbnails li div.thumbnail div,
div.thumbnail-container {
    position:relative;
    overflow:hidden;
}

ul.gallery.thumbnails li div.thumbnail .caption-transparent,
div.thumbnail-container .caption-transparent {
    position:absolute;
    right:0;
    left: 0;
    
    z-index: 999;
    
    background-color: rgb(32, 32, 32);
    background-color: rgba(32, 32, 32, .3);
    color: white !important;
    padding: 5px;
    
    overflow:hidden;
    max-height: 100%;
    
    font-size: 13px;
}

ul.gallery.thumbnails li div.thumbnail .caption-hidable,
div.thumbnail-container .caption-hidable {
    display: none;
}

ul.gallery.thumbnails li div.thumbnail .caption-transparent.caption-top,
div.thumbnail-container .caption-transparent.caption-top {
    top:0;
}

ul.gallery.thumbnails li div.thumbnail .caption-transparent.caption-bottom,
div.thumbnail-container .caption-transparent.caption-bottom {
    bottom:0;
}

ul.gallery.thumbnails li div.thumbnail .caption-transparent.caption-all,
div.thumbnail-container .caption-transparent.caption-all {
    top:0;
    height: 100%;
}

div.thumbnail-container .caption-transparent{
    padding: 5px;
}

div.thumbnail-container p {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
}

div.thumbnail-container img {
    margin: 0 !important;
    padding: 0;
}

div.thumbnail-container .caption-transparent, 
div.thumbnail-container .caption-transparent p,
div.thumbnail-container .caption-transparent p a,
ul.thumbnails div.thumbnail > div > div.caption-transparent,
ul.thumbnails div.thumbnail > div > div.caption-transparent h5,
ul.thumbnails div.thumbnail > div > div.caption-transparent h5 a,
ul.thumbnails div.thumbnail > div > div.caption-transparent h5 small {
    color: white !important;
}

div.thumbnail-container .caption-transparent h5,
ul.thumbnails div.thumbnail > div > div.caption-transparent h5{
    max-height: 40px;
    overflow: hidden;
}

ul.thumbnails.gallery .caption {
    height: 55px;
    padding: 0 9px;
}

ul.album-tiny-preview .photos-container li {
    margin: 0;
}

ul.album-tiny-preview .photos-container li .thumbnail {
    border: none;
    box-shadow: none;
}

.caption h5 small.pull-right,
.caption-transparent h5 small.pull-right {
    margin-top: 5px;
}