#candidates > div > ul.nav, #candidate-details div > ul.nav {
    margin-bottom: 0px;
}

#candidates .navbar-inner, #candidate-details .navbar-inner {
    border-radius: 0px 0px 4px 4px;
    border-top: none;
}

#invite-tab-sel, #electoral-list-tab-sel, #mandates-tab-sel {
    display: none;
}

.messages-cnt {
    margin: 20px 0;
    max-height: 500px;
    min-height: 500px;
    overflow-y: scroll;
}

.get-more > div {
    text-align: center;
    margin-top: 15px;
    
    line-height: 14px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #f9f9f9;
}

.get-more > div:hover {
    background-color: #DDD;
    cursor: pointer;
}

.get-more > div.loading:hover {
    cursor: default;
}

.get-more > div > span {
    display: none;
}

.get-more > div.loading > span {
    display: inline;
}

.get-more > div.loading > a {
    display: none;
}

.user-info {
    margin-bottom: 25px;
    margin-left: 1.5%;
    width: 45.6239%;
    border-right: 3px solid #f9f9f9;
    min-height: 85px;
    
    -moz-box-sizing: border-box;
    display: block;
}

.user-info .pull-left {
    margin-right: 15px;
}

.user-info .body {
    padding-top: 7px;
}

.user-info .body > a {
    font-size: larger;
}

.user-info span.mark, .user-info .controls {
    margin: 0 5px 5px 0;
    opacity: 0.75;
}

.user-info .controls {
    display: none;
    cursor: pointer;
}

.items {
    padding-top: 10px;
}

div.checkbox {
    border: 1px solid #CCCCCC;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.075);
    
    width: 24px;
    height: 24px;
    
    padding-left: 0px;
    margin: 4px;
    
    cursor: pointer;
}

div.checkbox span.value {
    display: inline-block;
    font-size: 28px;
    margin-left: 2px;
    margin-top: 3px;
}

div.checkbox.accepted {
    color: #468847;
}

div.checkbox.declined {
    color: #B94A48;
    cursor: default;
}

div.checkbox.inactive {
    opacity: 0.5;
    cursor: default;
}

#candidate-details {
    display: none;
}

#candidate-details div.status-controls {
    margin-top: 15px;
}

#candidate-info .user-info {
    width: 100%;
}

#mandates-tab {
    padding-top: 20px;
}