#main-picture {
    margin-bottom: 15px;
}

#main-picture img {
    max-width: 300px;
    width: 99%;
}

#main-picture div {
    background-color: #E9E9E9 !important;
    border: 1px solid #F5F5F5;  
    border-radius: 2px 2px 2px 2px;
    box-shadow: 1px 1px 10px 0 #C9C9C9;
}

#title {
    margin-bottom: 15px;
}

#navigation .nav-pills > li > a {
    background-color: #f9f9f9;
}

#navigation .nav-pills > li.active > a, 
#navigation .nav-pills > li.active > a:hover {
    background-color: #0088cc;
}

#navigation .nav-pills > li > a:hover {
    background-color: #DDD;
}

.bootstrap-widget-header.smooth {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#title h3 {
    top: 0px;
    bottom: 0px;
}

#title .breadcrumbs {
    width: auto;
    display: inline-block;
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
}

#title .breadcrumbs a {
    color: inherit;
}

#title .breadcrumbs .divider {
    position: relative;
    bottom: -2px;
    font-size: 16px;
}