body {
        padding-top: 60px;
        padding-bottom: 40px;
}

body > div.navbar li.divider-vertical{
    margin: 0px;
}

div.flash-messages{
    z-index: 9999;
}

div.flash-messages div.alert{
    -moz-box-shadow: 0 2px 11px rgba(0, 0, 0, 0.25); 
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.25) 
}

/*
 *  FormView
 */

form.center{
    margin-left: auto;
    margin-right: auto;
}

.help-block.error {
    color: #B94A48;
}

form.navbar-search.form-inline div {
    display: inline;
    margin-left: 5px;
}

form span.error {
    display: none;
}

form div.invalid span.error {
    display: inline;
}

form.navbar-search.form-inline div.invalid span.error {
    display: none;
}

div.invalid input {
    background-color: #ffd7d7;
}

/*
 *  MoreView
 */

.get-more > div {
    text-align: center;
    margin-top: 15px;
    
    line-height: 14px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background-color: #f9f9f9;
}

.get-more > div:hover {
    background-color: #DDD;
    cursor: pointer;
}

.get-more > div.loading:hover {
    cursor: default;
}

.get-more > div > span {
    display: none;
}

.get-more > div.loading > span {
    display: inline;
}

.get-more > div.loading > a {
    display: none;
}

/**
 * grouped-model-info
 */

.grouped-model-info table th {
    width: 25%;
    color: #BBB;
}

.grouped-model-info table th, .grouped-model-info table td {
    border: none;
    font-size: 12px;
    line-height: 14px;
}